<div *ngIf="hideComponent">
    <h2>Posts module</h2>

    <div *ngIf="posts">
        <mat-card *ngFor="let post of posts">
            <mat-card-title (click)="loadPost(post)">{{post.id}} - {{post.title}}</mat-card-title>
            <mat-card-content>{{post.body}}</mat-card-content>
            <button 
                mat-raised-button
                color="primary"
                class="toolbar-nav-btn"
                (click)="goToUserProfile(post)"
            >Show User</button>
        </mat-card>
    </div>
</div>