<mat-toolbar color="primary">
    <button 
      mat-mini-fab
      color="accent"
      class="example-icon" 
      aria-label="Example icon-button with menu icon"
      (click)="toggleMainMenuHandler()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="home-link" routerLink="/home">Demo App</span>

    <button 
      mat-raised-button
      color="accent"
      class="toolbar-nav-btn"
      routerLink="/users"
    >Users</button>

    <button 
      mat-raised-button
      color="accent"
      class="toolbar-nav-btn"
      routerLink="/posts"
    >Posts</button>

    <button 
      mat-raised-button
      color="accent"
      class="toolbar-nav-btn"
      routerLink="/random-posts"
    >Random Posts</button>

    <span class="example-spacer"></span>
</mat-toolbar>