<app-toolbar (toggleMainMenu)="drawer.toggle()"></app-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer opened class="drawer-sidenav" mode="side">
    <app-mainmenu></app-mainmenu>
  </mat-drawer>

  <div class="drawer-sidenav-content">

    <!-- <iframe 
      *ngFor="let iframe of iframeList"
      [attr.src]="iframe.src | safeUrl" 
      [attr.id]="iframe.id"
      width="550px"
      height="500px"
      frameborder="0"
    ></iframe> -->
    
    <!-- <router-outlet></router-outlet> -->

    <!-- <app-router-outlet
    (activate)='onActivate($event)'
    (deactivate)='onDeactivate($event)'
    (attach)='onAttach($event)'
    (detach)='onDetach($event)'
    ></app-router-outlet> -->

    <app-router-outlet
      (activate)='onActivate($event)'
      (deactivate)='onDeactivate($event)'
      (attach)='onAttach($event)'
      (detach)='onDetach($event)'
    ></app-router-outlet>
    
  </div>
  
</mat-drawer-container>